#social-images-table
  %table
    %thead
      %td
        name
      %td
        preview
    %tbody
      - social.social_images.each do |image|
        %tr
          %td
            = image.name || image.picture_file_name
          %td
            %img{src: image.picture.url(:original)}