.dashboard-about
  %h3
    about fancybite
  %p
    FANCY BITE is a classic home baking specialising in Artisan Brownies & Pie, using fresh, local and the most finest ingredients. In Fancy Bite, we combine creativity, art, passion and love to each and every brownie we make to ensure you get the most delicious and beautiful pleasure experience ever!