.dashboard-about
  %h3
    about fancybite
  %p
    A passionate home baking with a twist of art and a zest of love, specialising in pies, tarts, brownies and cakes. All freshly baked with the finest ingredients and our secret family heritage recipes to give you the ultimate one-of-a-kind delicacy experience! :)