.features
  %ul.bxslider
    - @featured_products.each do |featured|
      %li.featured-image-large-wrapper
        %img.featured-image-large{src: featured.picture_large.url(:original)}
      -#%li.featured-image-small-wrapper
      -#  %img.featured-image-small{src: featured.picture_small.url(:original)}