%h3.portfolio-menu-title
  = product.name
.portfolio-menu-img-wrap
  %img.portfolio-img{src: product.picture.url(:medium)}
.portfolio-menu-description
  = product.description
%a.portfolio-menu-view-more-wrapper
  %span.portfolio-menu-view-more
    view more