%h3.portfolio-menu-title
  Celebration Cakes
.portfolio-menu-img-wrap
  %img{src: '/assets/portfolio-06-280x180.jpg'}
.portfolio-menu-description
  The best, most juicy burgers for the grill. Get burger grilling tips and find recipes for cheese lovers, bacon lovers
%a.portfolio-menu-view-more-wrapper
  %span.portfolio-menu-view-more
    view more