= render '/dashboard/features'
= render '/dashboard/portfolio'
= render '/dashboard/about'
= render '/dashboard/awesome_products'

:javascript
    $(document).ready( function() {
      fancybite.shop.dashboard.init();
    });