.menu-wrapper
  .menu-header
    .page-title
      our menu

  .small-space
  .menu-items-wrapper
    .row.menu-item
      .large-6.medium-6.columns
        test
      .large-6.medium-6.columns
        test
    .row.menu-item
      .large-6.medium-6.columns
        test
      .large-6.medium-6.columns
        test