.large-4.medium-4.columns.menu-item
  .item-content
    .menu-img-wrapper
      %img{src:'/assets/menus/01.jpg'}
    .menu-description-wrapper
      .small-space
      %h2
        Menu 1
      .menu-description
        %p
          lalalalala
      %h2.menu-price
        $4.50
      = button_tag 'add to basket'