.menu-wrapper
  .menu-header
    .page-title
      our menu

  .small-space
  .row
    = render '/menus/menu_item'
    .large-4.medium-4.columns.menu-item
      .item-content
        .menu-img-wrapper
          %img{src:'/assets/menus/02.jpg'}
        .menu-description-wrapper
          Menu 2
    .large-4.medium-4.columns.end.menu-item
      .item-content
        .menu-img-wrapper
          %img{src:'/assets/menus/03.jpg'}
        .menu-description-wrapper
          Menu 3
  .row
    .large-4.medium-4.columns.menu-item
      .item-content
        .menu-img-wrapper
          %img{src:'/assets/menus/04.jpg'}
        .menu-description-wrapper
          Menu 4
    .large-4.medium-4.columns.menu-item
      .item-content
        .menu-img-wrapper
          %img{src:'/assets/menus/05.jpg'}
        .menu-description-wrapper
          Menu 5
    .large-4.medium-4.columns.end.menu-item
      .item-content
        .menu-img-wrapper
          %img{src:'/assets/menus/06.jpg'}
        .menu-description-wrapper
          Menu 6