.shopping-cart
  .shopping-cart-label
    %h2
      It's not like that ordinary brownies you have had!
    .shopping-cart-header-label
      One-of-a kind homemade Artisan Brownies with a range of various unique flavours you can choose :)