.shopping-cart
  .shopping-cart-label
    %h2
      Taste our yummy cakes
    .shopping-cart-header-label
      All kind of cakes and pastries ready to be served!
  .shopping-cart-wrapper
    .shopping-cart-button
      .shopping-cart-icon
      .triangle-right
      .shopping-cart-amount