.checkout-header
  we do not save credit card information and transaction is protected by SSL

.small-12.columns
  Your order total is $12, please check the detail in the
  =link_to 'shopping cart', '#', id: 'shopping-cart-link'