.row
  .small-12.columns
    .text-centre.margin-bottom.margin-top
      Please finalise your detail and payment
.row
  .medium-6.columns
    = render partial: '/checkout/customer_detail'
  .medium-6.columns
    = render partial: '/checkout/payment_detail'
    = render partial: '/checkout/delivery'

.row
  .small-12.columns
    .text-centre
      #checkout-submit-button.button.checkout-button.hidden
        Submit

      = link_to 'proceed to PayPal', new_payments_paypal_path, class: 'button checkout-button', id: 'paypal_button'


:javascript
  $(document).ready( function() {
    fancybite.shop.checkout.init();
  });