.div-radio-button{
  font-size: 12px;
  padding: 0;
  line-height: 40px;
  background: mediumaquamarine;

  input[type=radio]{
    display: none;
  }
}

.div-radio-button-group{

  div{
    border: solid;
    border-width: 1px;
    border-color: #FFFFFF;
  }

  .disabled{
    background-color: darkgrey;
    color: #d3d3d3;
  }

  :first-child{
    border: solid;
    border-width: 1px;
    border-color: #FFFFFF;
  }

  :last-child{
    border: solid;
    border-width: 1px;
    border-color: #FFFFFF;
  }


}

.active{
  background: aquamarine !important;
}