.checkout-header{
  min-height: 3.5em;
}

.checkout-highlight{
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 10px;
  background-color: lightyellow;
}

.delivery-highlight{
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 10px;
  background-color: lightyellow;
}

.checkout-block{
  margin-bottom: 2em;
}

.checkout-block-sub{
  margin-top: 0.5em;
}