.shopping-list{
  background-color: lightpink;
  opacity: 0.9;
  width: 200px;
  height: 500px;
  position: fixed;
  z-index: 2000;
  display: none;
  top: 100px;
  right: 0;
  border-radius: 10px 0 0 10px;
  box-shadow: 10px 10px 10px;
}