.shopping-list-table-wrapper
  %table.shopping-list-table
    %thead
      %td.shopping-list-name
        name
      %td.shopping-list-qty
        qty
      %td.shopping-list-subtotal
        subtotal
    %tbody#shopping-list-content