.shopping-list
  .shopping-list-header
    %h1
      Your shopping basket
  = render partial: 'shopping_lists/items'

  .row
    .shopping-list-total.small-6.columns
      = "Total $#{@basket_total_amount}"
    - if checkout_active? && @show_checkout_button
      .small-6.columns
        = link_to t('dashboard.checkout.checkout_button'), new_checkout_path, class: 'text-colour-white button tiny centre-text-align', id: 'checkout-button'