.shopping-list
  .shopping-list-header
    %h1
      Your shopping basket
  = render partial: 'shopping_lists/items'

  .row
    .shopping-list-total.small-6.columns
      Total $12
    - if checkout_active?
      .small-6.columns
        .button.tiny.centre-text-align
          = link_to t('dashboard.checkout.checkout_button'), new_checkout_path, class: 'text-colour-white'