.awesome-products-title{
  color: #E75A39;
  font-family: Philosopher;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.awesome-product-image{
  margin: auto;
  position: relative;
  display: block;
}

.awesome-product-wrapper{
  border: solid .5px;
}

.awesome-product-image-wrapper {
  text-align: center;
  margin-top: 2%;
}

.awesome-product-title{
  margin-left: 10px;
}