.awesome-products-title{
  color: #E75A39;
  font-family: Philosopher;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.awesome-product-image{
  margin: auto;
  position: relative;
  display: block;
}

.awesome-product-wrapper{
  border: solid .5px;
}

.awesome-product-image-wrapper {
  text-align: center;
  margin-top: 2%;
}

.awesome-product-title{
  margin-left: 10px;
  font-family: Philosopher;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  margin-top: 10px;
  color: #E75A39;
}

.awesome-product-description {
  margin-left: 10px;
  font-family: 'PT-Sans',Tahoma,Geneva,sans-serif;
  font-size: 12.5px;
}

.awesome-product-price{
  margin-left: 10px;
  font-family: Philosopher;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  margin-top: 10px;
  color: #E75A39;
}

.awesome-products-wrapper {
  .bx-viewport {
    height: 290px !important;
  }
}
