.dashboard-about{
  background: floralwhite;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 18px 0 13px;
  border: 1px solid #d7d4d4;
  margin-bottom: 1em;
  padding: 5px 15px;

  p{
    color: #000000;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 300;
    font-size: 12px;
  }

  h3{
    font-size: 15px;
  }
}