.features {
  z-index: 1;
  position: relative;
}

.featured-image-large{
  width: 960px;
  height: 300px;
}

//.featured-image-small{
//  width: 300px;
//  height: 300px;
//}

//.featured-image-large-wrapper{
//  display: none;
//  visibility: hidden;
//}
//
//.featured-image-small-wrapper{
//  display: none;
//  visibility: hidden;
//}
//
//@media screen and (max-width: 600px) {
//  .featured-image-small{
//    display: block;
//  }
//  .featured-image-large{
//    display: none;
//  }
//}