body{
  background: image-url('wood.png')
}

.off-canvas-wrap {
  min-height: 100%;
}

.inner-wrap{
  height: inherit;
  width: 98%;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #888888;
  max-width: 1024px;
  margin-bottom: 2rem;
}

.content-wrap {
  height: inherit;
  width: 98%;
  margin: auto;
}

.margin-top-inner-wrap{
  margin-top: 35px;
}

footer {
  background: #333333;
  color: #FFFFFF;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative
}