.menu-header {
  height: 30%;

  .centre-div{
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    height: 50px;
  }

  img{
    top: 50%;
    transform: translateY(-50%);
  }

}

