.logo{
  background: url('/assets/logo.jpg') no-repeat center;
  background-size: contain;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.menu-header {
  border-bottom: solid 1px;
  height: 150px;
  width: 100%;

  ul{
    text-decoration: none;
    list-style-type: none;
  }
}

.menu-banner {
  line-height: 140px;
  text-align: center;
  font-family: 'Philosopher,Georgia,serif';
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  color: mediumaquamarine;
  padding-left: 0px;
  padding-right: 0px;
}

.active{
  color: white;
  background-color: mediumaquamarine;
}

.logo-column{
  width: 50%
}