.shopping-cart{
  margin-bottom: 20px;
}

.shopping-cart-label{
  text-align: center;

  .shopping-cart-header-label{
    line-height: 1.618;
    color: #706A64;
    font-family: Roboto, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

.shopping-cart-wrapper{
  display: table;
  margin: 0 auto;

  .shopping-cart-button{
    //  display: block;
    height: 20px;
    width: 60px;

    .shopping-cart-icon{
      background-color: red;
      height: 20px;
      width: 20px;
      float: left;
    }

    .triangle-right{
      background-color: blue;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 13px solid green;
      border-bottom: 10px solid transparent;
      float: left;
    }

    .shopping-cart-amount{
      background-color: blue;
      height: 20px;
      width: 20px;
      float: left;
    }

  }
}

