.portfolio-menu-title{
  text-align: center;
  padding-bottom: .5em;
}

.portfolio-menu-img-wrap {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E0DDDD;
  display: block;
  margin: 0 0 23px;
  padding: 10px;
  position: relative;
}