.row.before-footer-wrapper
  .medium-3.columns
    %ul
      %h3.margin-bottom
        Important Links
      .before-footer-content
        %li
          %a
            Your Account
        %li
          %a
            View Order
        %li
          %a
            Privacy Policy
        %li
          %a
            Terms & Conditions
  .medium-3.columns
    %ul
      %h3.margin-bottom
        Contact Info
      .before-footer-content
        %li
          %a
            workshop
        %li
          %a
            Phone
        %li
          %a
            email

  .medium-3.columns
    %ul
      %h3.margin-bottom
        Work Times
      .before-footer-content
        %li
          %a
            Our work timings are:
        %li
          %a
            monday - friday
        %li
          %a
            saturday
        %li
          %a
            sunday

  .medium-3.columns
    %ul
      %h3.margin-bottom
        Subscribe
      .before-footer-content
        %li
          %a
            Subscribe to our profiles on the
        %li
          %a
            following social networks.