.row.before-footer-wrapper
  .medium-3.columns
    %ul
      %h3.margin-bottom
        Important Links
      .before-footer-content
        %li
          %a
            Your Account
        %li
          %a
            View Order
        %li
          %a
            Privacy Policy
        %li
          %a
            Terms & Conditions
  .medium-3.columns
    %h3.margin-bottom
      Contact Info
  .medium-3.columns
    %h3.margin-bottom
      Work Times
  .medium-3.columns
    %h3.margin-bottom
      Subscribe