%nav.top-bar{:data => {'topbar' => true}, role: "navigation"}
  %ul.title-area
    %li.name
      %h2
        %a{:href => "#"}
          My Site
  %section.top-bar-section
    %ul.right
      %li.name
        %a{:href => "#"}
          login