- if show_login_link?
  = link_to t('session.login'), new_user_session_path

- if !show_login_link?
  = t('dashboard.hi')
  |
  = link_to t('session.logout'), destroy_user_session_path, method: :delete