#parent
  #floater
  .row.child
    .medium-1.large-1.columns.text-menu
      left
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      test
    .medium-2.large-2.columns.blank-content.logo
      -#%img{src: '/assets/logo.jpg'}
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      test
    .medium-1.large-1.columns.text-menu
      right
  .logo