.logo
.menu-header-container
  .menu-header
    .menu
      Menu
    %ul
      %li.home-menu-option.active
        %a.test
          = t(:home)
      %li.menu-menu-option
        %a
          = t(:menu)
