.menu-header.border-bottom
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-2.large-2.columns.blank-content.centre-div
    %img{src: '/assets/logo.jpg'}
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div
  .medium-1.large-1.columns.blank-content.centre-div