.menu-header.border-bottom
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-2.large-2.columns
    %img{src: '/assets/logo.jpg'}
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content
  .medium-1.large-1.columns.blank-content