%article
  %h2 About Justshop
  %p
  %p
    About some information about your business here. You can edit this content from
    %em Theme -Options -> Homepage -> About us / Testimonials
    settings. Sed diam non ummy nibh in euismod tincidunt ut liber tempor laoreet. Lorem ipsum dolor sit amet, consect etuer adipisc in elit, samo em ipsum dolor sit amet, con in hendrerit in vulputate velit at sectetuer adipisc in elit.
  %p
    %strong You can put in a button here as well
    to urge visitors to know more about you or your business. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.
  %p